{
  "account" : {
    "#autoincrement" : "uid",
    "username": "text",
    "firstname": "text",
    "lastname": "text",
    "created": "date",
    "#primary_key" : ["uid"]
  },
  "posts" : {
    "id" : "integer",
    "content" : "text",
    "account": "integer",
    "#reference": {
      "key": "account",
      "table": "account",
      "column": "uid"
    }
  }
}
